.top-headlines {
  color: black;
  text-decoration: underline;
}
.top-headlines:hover {
  color: #b3a272;
  cursor: pointer;
}

.photo-story {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.photo-saac {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.m-button {
  background-color: #b3a272;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin: 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.more-links {
  width: "100%";
  background-color: rgba(182, 161, 107, 0.1);
  border-radius: 15px;
  opacity: 0.9;
}
