* {
  box-sizing: border-box;
}
.askForm {
  max-width: 420px;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #111;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.ask-button:hover {
  background-color: #a08d5c;
}
.askForm-bg {
  display: block;
  background-repeat: no-repeat;
  z-index: -1;
}
.ask-button {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #b3a272;
  margin: 10px;
  cursor: pointer;
}
.input-ask {
  transition: all 0.4s ease-in-out;
}
