.loginForm {
  max-width: 650px;
  margin: 0 auto;
}
.bg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.container-login {
  flex-direction: column;
  padding: 30px;
}
.logInTittle {
  text-align: center;
}

.imgcontainer {
  text-align: center;
  margin: 10px 0 12px 0;
}
img.avatar {
  width: 65%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.lbutton {
  background-color: #b3a272;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.lbutton:hover {
  background-color: #a08d5c;
}
.inputs {
  transition: all 0.2s ease-in-out;
}

.forgotPasswordLink:hover {
  cursor: pointer;
}
