.question-text {
  font-size: 25px;
  font-weight: 500;
  padding-left: 15px;
}
.answer-text {
  font-size: 20px;
  padding-left: 15px;
}
.date-text {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 10px;
}
.category-text {
  padding-top: 10px;
}
.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  width: 100%; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  background-color: rgba(219, 186, 100, 0.6);
  -moz-border-radius: 15px;
  border-radius: 15px;
}
